<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.foto {
    width: 150px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.foto {
    width: 150px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
>>>>>>> a018bd0 (Unidad 3 - API REST con Express y MongoDB)
}